@import './global/colours.css';

.navbar-active {
    font-weight: bold !important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.min-vh-90 {
    min-height: 70vh !important;
}

.max-vh-75 {
    max-height: 75vh !important;
}

.min-w-60 {
    min-width: 60% !important;
}

.w-60 {
    max-width: 60% !important;
}

.w-90 {
    max-width: 90% !important;
}

.fs-12 {
    font-size: 12px !important;
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

/* Hide scrollbar for all browsers except Firefox */
.overflow-auto::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.overflow-auto {
    scrollbar-width: none;
}


.no-border:focus {
    outline: none !important;
    box-shadow: none !important;
}

.img-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.card-img-container {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 0.5rem;
}

.card-text > span {
    display: inline-block;
}

.fs-12 {
    font-size: 0.75rem;
}

.h-100 {
    height: 100%;
}

.w-40 {
    max-width: 40% !important;
}


.square-label {
    display: inline-block;
    width: 100px; 
    height: 100px; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.bg-image-box {
    background-image: url('../assets/bg-logo.png');
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust height as needed */
}