* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.custom-bg {
    background-color: #D0DBBF;
    height: 100vh;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.tagline {
    color: #579966;
    margin-top: 5px;
    padding: 0;
    font-weight: bold;
}

.buttons {
    background-color: #579966;
    width: 8rem;
    border: none;
    padding: 0.6rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    margin: 0 auto;
}

.buttons:hover {
    background-color: #478055;
}

label {
    font-weight: bold;
}
